@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
}

.fixed-width {
  @apply max-w-full lg:max-w-[1440px] px-10 lg:px-0 mx-auto;
}
